.highlight {
  overflow-x: auto;
  margin: 1rem 0;
  padding: 10px 15px;
  border-radius: 4px;
  background: #212326;
  font-family: monospace;
}
.highlight:hover .btn-copy {
  opacity: 1;
}
.highlight .btn-copy {
  font-size: 1.2rem;
  position: absolute;
  right: 20px;
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
}
.highlight .btn-copy:hover {
  color: #2bbc8a;
}
.highlight pre {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.highlight table {
  width: auto;
}
.highlight td.gutter {
  text-align: right;
  opacity: 0.2;
}
.highlight .line {
  height: 22px;
}
