#bganim-toggle-btn, #dark-mode-toggle-btn {
  margin: 0 4px 0 0;
  border: none;
  padding: 0;
  background: none;
  color: inherit;
  cursor: pointer;
}

#bganim-toggle-btn svg, #dark-mode-toggle-btn svg {
  vertical-align: middle;
  height: 1em;
  transform-origin: center;
  transform: scale(1.6);
}

html[data-bganim-enabled="true"] #bganim-toggle-btn .hexagon {
  transform-origin: center;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#dark-mode-toggle-btn .sun,
#dark-mode-toggle-btn .moon {
  display: none;
}

html[data-theme="white"] #dark-mode-toggle-btn .moon {
  display: inline;
}
html[data-theme="dark"] #dark-mode-toggle-btn .sun {
  display: inline;
}
