<!-- May include footer scripts here -->

<script src={{ "/lib/clipboard/clipboard.min.js" | relURL }}></script>
<script>
  $(function () {
    // copy-btn HTML
    let btn = "<span class=\"btn-copy tooltipped tooltipped-sw\" aria-label=\"Copy to clipboard!\" style=\"z-index: 9999\">";
    btn += '<i class="far fa-clone"></i>';
    btn += '</span>'; 
    // mount it!
    $(".highlight table").before(btn);
    const clip = new ClipboardJS('.btn-copy', {
      text: function(trigger) {
          const selector = 'code[data-lang]:not([data-lang=""]) > span';
          const elements = Array.from(trigger.nextElementSibling.querySelectorAll(selector));
          const code = elements.map(e => e.innerText).join('');
          return code;
      }
    });
    clip.on("success", function(e) {
      e.trigger.setAttribute('aria-label', "Copied!");
      e.clearSelection();
    });
    clip.on("error", function(e) {
      console.error("Action:", e.action);
      console.error("Trigger:", e.trigger);
    });
  });
</script>

<script type="text/javascript" src={{ "/js/canvas-nest.js" | relURL }}
  count=90
  color="0,200,100"
  opacity=0.5
>
</script>
