<!-- May include footer scripts here -->

<script src={{ "/lib/clipboard/clipboard.min.js" | relURL }}></script>
<script>
  $(function () {
    // copy-btn HTML
    let btn = "<span class=\"btn-copy tooltipped tooltipped-sw\" aria-label=\"Copy to clipboard!\" style=\"z-index: 9999\">";
    btn += '<i class="far fa-clone"></i>';
    btn += '</span>'; 
    // mount it!
    $(".highlight table").before(btn);
    const clip = new ClipboardJS('.btn-copy', {
      text: function(trigger) {
          const selector = 'code[data-lang]:not([data-lang=""]) > span';
          const elements = Array.from(trigger.nextElementSibling.querySelectorAll(selector));
          const code = elements.map(e => e.innerText).join('');
          return code;
      }
    });
    clip.on("success", function(e) {
      e.trigger.setAttribute('aria-label', "Copied!");
      e.clearSelection();
    });
    clip.on("error", function(e) {
      console.error("Action:", e.action);
      console.error("Trigger:", e.trigger);
    });
  });
</script>

<script type="text/javascript" src={{ "/js/canvas-nest.js" | relURL }}></script>
<canvas id="bganim-canvas"></canvas>

<script>
  const mp = createMovingPoints({
    canvas: document.getElementById("bganim-canvas"),
    config: {
      count: 90,
      color: "0,200,100",
      opacity: 0.5,
    }
  });
  document.addEventListener('DOMContentLoaded', () => {
    const localStorageKey = 'bganim-enabled';

    const saved = localStorage.getItem(localStorageKey);
    const defaultEnabled = window.innerWidth >= 480;
    const savedEnabled = saved === 'true';
    const enabled = saved === null ? defaultEnabled : savedEnabled;

    if (enabled) {
      mp.startAnimation();
    } else {
      mp.stopAnimation();
    }

    const btn = document.getElementById('bganim-toggle-btn');
    if (!btn) return;
    btn.setAttribute('aria-pressed', enabled);
    btn.addEventListener('click', () => {
      const current = btn.getAttribute('aria-pressed') === 'true';
      const next = !current;
      btn.setAttribute('aria-pressed', next);
      localStorage.setItem(localStorageKey, next);
      if (next) {
        mp.startAnimation();
      } else {
        mp.stopAnimation();
      }
    });
  });
</script>
