<!-- May include header scripts here -->
<script type=application/javascript>
    var doNotTrack=false;
    if (!doNotTrack) {
            window.ga = window.ga || function(){(ga.q=ga.q||[]).push(arguments)};
            ga.l = +new Date;
            ga('create','UA-153846761-1','auto');
            ga('send','pageview');
    }
</script>
<script async src=https://www.google-analytics.com/analytics.js></script>
<!--
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153846761-1"></script>
    <script>
        var doNotTrack = false;
       if (!doNotTrack) {
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
       gtag('config', 'UA-153846761-1', { 'anonymize_ip': false });
       }
    </script>
    --!>
